div.questions {
    background-color: rgb(4, 71, 4);
    width: 35vw;
    height: 50vh;
    margin-left: 31.65vw;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

button.questions {
    background-color: rgb(7, 142, 7);
    font-family: "SoccerLeague.ttf";
    height: 7.6vh;
    width: 35vw;
    font-size: 2vw;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
}

button.questions:hover {
    background-color: white;
}

p {
    font-size: 3vh;
}

p.pontos {
    margin-left: -0.4vw;
}

p.range {
    font-size: 3vh;
}

button.next {
    background-color: rgb(7, 142, 7);
    font-family: "SoccerLeague.ttf";
    width: 8vw;
    font-size: 2vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-left: 45.9vw;
    margin-top: 4vh;
}

button.next:hover {
    background-color: darkgreen;
}

button.certo {
    background-color: greenyellow;
    font-family: "SoccerLeague.ttf";
    height: 7.6vh;
    width: 35vw;
    font-size: 2vw;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
}

button.errado {
    background-color: red;
    font-family: "SoccerLeague.ttf";
    height: 7.6vh;
    width: 35vw;
    font-size: 2vw;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
}

@media screen and (max-width:1366px) and (max-height: 768px){
    div.questions {
        background-color: rgb(4, 71, 4);
        width: 35vw;
        height: 50vh;
        margin-left: 31.65vw;
        margin-top: 4.5vh;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
    }
    
    button.questions {
        background-color: rgb(7, 142, 7);
        font-family: "SoccerLeague.ttf";
        height: 7.6vh;
        width: 35vw;
        font-size: 2vw;
        display: inline-block;
        margin-left: 0;
        border-radius: 10px;
    }
    
    button.questions:hover {
        background-color: white;
    }
    
    p {
        font-size: 3vh;
    }
    
    p.pontos {
        margin-left: 0vw;
    }
    
    p.range {
        font-size: 3vh;
    }
    
    button.next {
        background-color: rgb(7, 142, 7);
        font-family: "SoccerLeague.ttf";
        width: 8vw;
        font-size: 2vw;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        margin-left: 46vw;
        margin-top: 4vh;
    }
    
    button.next:hover {
        background-color: darkgreen;
    }
    
    button.certo {
        background-color: greenyellow;
        font-family: "SoccerLeague.ttf";
        height: 7.6vh;
        width: 35vw;
        font-size: 2vw;
        display: inline-block;
        margin-left: 0;
        border-radius: 10px;
    }
    
    button.errado {
        background-color: red;
        font-family: "SoccerLeague.ttf";
        height: 7.6vh;
        width: 35vw;
        font-size: 2vw;
        display: inline-block;
        margin-left: 0;
        border-radius: 10px;
    }
}